@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
/*font-family: 'Open Sans Condensed', sans-serif;*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
* html .clearfix { zoom: 1; } /* IE6 */
.clearfix { display: block; }
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


body{
    font-family: 'Open Sans Condensed', sans-serif;
}
.MainWrapper{
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
.MainContainer{
    max-width: 768px;
    margin: 0 auto;
    padding: 0 40px 20px;
}
.form-group{
    margin-bottom: 20px;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}