<div class="container" id="welcome">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <h1>
          {{vm.test}}
      </h1>
      <input type="text" ng-model="vm.test">
      <input type="button" value="ADD" ng-click="vm.testFunc()">

    </div>
    <span ng-repeat="item in vm.list">{{item}}</span>
  </div>
</div>
